/* -----------------RESET BASICS--------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
  }
.loginform {
    width: 500px;
    padding: 16px;
    margin-left: 480px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #1B171Eff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px #756658ff;
    background-color: #F7E9C8ff;
}