
.hero {
    max-height: 350px;

}
.about-content {
width: 100%;
text-align: center;
border: 1px solid #1B171Eff;
border-radius: 8px;
box-shadow: 0px 0px 5px #756658ff;
background-color: #F7E9C8ff;
}
.about-content h1{
    font-size: 32px;
}
.about-content p{
    line-height: 1.5;
    white-space: pre-wrap;
}