/* base html styles */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {

 --umber: #756658ff;
 --seal-brown: #602C10ff; 
 --raw-umber: #9A6034ff; 
 --raisin-black: #1B171Eff; 
 --dutch-white: #F7E9C8ff;
}

#project-list {
    display: grid;
    grid-template-columns: 24% 24% 24%;
    column-gap: 16px;
    row-gap: 16px;
}